* {
    box-sizing: border-box;
}

.site-footer {
    background: #8080803d;
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-around;
}

/* .footer-column {
    flex: 1;
} */

.footer-column img {
    max-width: 150px;
}

.footer-column h4{
    color: #ff0000;
    margin-bottom: 15px;
}

.footer-column p {
    color: #000000;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column a {
    color: #000000;
    text-decoration: none;
}

.footer-column a:hover {
    color: #ff0000;
}

.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #333;
    padding: 0px 30px;
    
    
}

.footer-bottom p {
    margin-top: 30px;
    color: #000000;
    text-align: center;
    display: flex;
}

i.fa-weibo, .fa-comment {
    font-size: 24px;
    margin-right: 15px;
    color: #ff0000;
}