* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    display: flex;
}

.container {
    width: 100%;
}

.menu {
    display: flex;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ff0000;
    padding: 0px 20px;
}

.logo img {
    width: 100px;
    height: 90px;
    object-fit: cover;
}

.menu-nav ul {
    display: flex;
    gap: 25px;
}

.menu-nav ul li {
    list-style-type: none;
}

.menu-nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.menu-nav ul li a:hover {
    color: #ff0000;
}



